/*
 * Multi-Tissue MR Pipeline Configuration
 */

nextflow.enable.dsl = 2

// Profiles for different execution environments
profiles {
    
    standard {
        process {
            executor = 'local'
            
            // Default resources
            cpus = 2
            memory = '4 GB'
            time = '2h'
            
            // Process-specific resources
            withName: 'EXPOSURE_PREPROCESSING|OUTCOME_PREPROCESSING' {
                cpus = 4
                memory = '8 GB'
                time = '24h'
            }
            
            withName: 'MR_ANALYSIS|COLOCALIZATION' {
                cpus = 4
                memory = '16 GB'
                time = '8h'
            }
            
            withName: 'RESULTS_PLOTTING' {
                cpus = 2
                memory = '4 GB'
                time = '2h'
            }
        }
    }
    
    cluster {
        process {
            executor = 'slurm'
            
            cpus = 4
            memory = '8 GB'
            time = '2h'
            queue = 'normal'
            
            withName: 'EXPOSURE_PREPROCESSING|OUTCOME_PREPROCESSING' {
                cpus = 8
                memory = '16 GB'
                time = '6h'
                queue = 'normal'
            }
            
            withName: 'MR_ANALYSIS|COLOCALIZATION' {
                cpus = 8
                memory = '32 GB'
                time = '12h'
                queue = 'high_memory'
            }
            
            withName: 'RESULTS_PLOTTING' {
                cpus = 4
                memory = '8 GB'
                time = '2h'
                queue = 'normal'
            }
        }
    }
    
    docker {
        docker {
            enabled = true
            runOptions = '-u $(id -u):$(id -g)'
        }
        
        process {
            executor = 'docker'
            
            cpus = 2
            memory = '4 GB'
            time = '2h'
            
            withName: 'EXPOSURE_PREPROCESSING|OUTCOME_PREPROCESSING' {
                cpus = 4
                memory = '8 GB'
                time = '4h'
            }
            
            withName: 'MR_ANALYSIS|COLOCALIZATION' {
                cpus = 4
                memory = '16 GB'
                time = '8h'
            }
        }
    }
    
    singularity {
        singularity {
            enabled = true
            autoMounts = true
        }
        
        process {
            executor = 'local'
            
            cpus = 2
            memory = '4 GB'
            time = '2h'
            
            withName: 'EXPOSURE_PREPROCESSING|OUTCOME_PREPROCESSING' {
                cpus = 4
                memory = '8 GB'
                time = '4h'
            }
            
            withName: 'MR_ANALYSIS|COLOCALIZATION' {
                cpus = 4
                memory = '16 GB'
                time = '8h'
            }
        }
    }
}

// Global parameters
params {
    // Input/output
    tissue = "Whole_Blood"
    exposure_file = null
    outcome_file = null
    outdir = "results"
    
    // Analysis parameters
    sample_size = 670
    fstat_threshold = 10
    p_threshold = 0.05
    lddlink_token = "23a23730fd0b"
    ld_threshold = 0.7
    coloc_h4_threshold = 0.8
    window_size = 500000
    chromosomes = 1..22
    
    // Pipeline options
    help = false
    version = "1.0.0"
}

// Manifest
manifest {
    name = "Multi-Tissue MR Pipeline"
    author = "Your Name"
    homePage = "https://github.com/yourusername/mr-pipeline"
    description = "Nextflow pipeline for tissue-specific Mendelian Randomization analysis"
    mainScript = "nextflow_mr_pipeline.nf"
    nextflowVersion = ">=22.10.0"
    version = "1.0.0"
}

// Report configuration
report {
    enabled = true
    file = "${params.outdir}/execution_report.html"
}

timeline {
    enabled = true
    file = "${params.outdir}/execution_timeline.html"
}

trace {
    enabled = true
    file = "${params.outdir}/execution_trace.txt"
    overwrite = true
}

dag {
    enabled = true
    file = "${params.outdir}/pipeline_dag.svg"
}


